<div class="form">
  <div class="form-field">
    <%= form_for @contact do |f| %>
      <% if @contact.errors.any? %>
        <div class="errors-div">
          <ul class="errors">
            <% @contact.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="new-contact-card">
        <%= f.label :name, 'Name: ', class: 'form-field-label' %>
        <%= f.text_field :name, class: 'form-field w-input' %>
        <br/>

        <%= f.label :phone, 'Phone: ', class: 'form-field-label' %>
        <%= f.text_field :phone, class: 'form-field w-input' %>
        <br/>

        <%= f.label :email, 'Email: ', class: 'form-field-label' %>
        <%= f.text_field :email,  class: 'form-field w-input' %>
        <br/>

        <%= f.submit 'Submit', class: 'btn-primary' %>
        <div>
          <%= link_to 'Back', contacts_path, class: "back-link"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
