<!DOCTYPE html>
<html>
  <head>
    <title>ContactListApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="nav-bar">
    <%= form_tag(search_page_path, method: :get, class: "input-group") do %>
        <%= link_to 'Contacts', contacts_path, class: "add-link" %>
        <%= link_to 'Add Contact', new_contact_path, class: "add-link" %>
        <%= search_field_tag :search, params[:search], placeholder: " Search contacts", class: "search-input" %>
        <%= button_tag "Search", :name => nil, class: "search-button" %>
      <% end %>
    </div>
    <hr/>

  <body>

  <%- flash.each do |name, message| %>
    <p class="alert"><%= "#{message}" %></p>
  <% end %>

<%= yield %>

</body>
</html>
