<!DOCTYPE html>
<html>
  <head>
    <title>ContactListApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="nav-bar">
    <%= link_to 'Contacts', contacts_path, class: "add-link" %>
    <%= link_to 'Add Contact', new_contact_path, class: "add-link" %>
  </div>
  <hr/>

  <body>
    <%= yield %>
  </body>
</html>
